<style>
  h2{font-family:'Inter', sans-serif;}
  p{font-family:'literata', serif;}
  .main-container {
    max-width: 100%;
    padding: 0 5rem;
}
  .text_cont {
    width: 50%;
    padding: 60px 0;
    background-color: #BACACC;
    border-bottom: 5rem solid #FFF;
    border-right: 5rem solid #fff;
    border-top: 5rem solid #fff;
}
  .main-flex {
    display: flex;
}
  .img_cont{width:50%}
  h2.flex-head {
    text-align: center;
    font-size: 38px;
    padding: 0 30px 0 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 6px !important;
    line-height: 50px;
    color:#3d3d3d;
}
  
</style>
<div class="main-container">
  <div class="column_flex">
    {% for block in section.blocks %}
    <div class="main-flex">
      <div class="img_cont">
        <img src="{{ block.settings.flex_img | img_url:'master' }}" loading="lazy" alt="{{ block.id }}" width="100%" height="100%">
      </div>
      
      <div class="text_cont">
        <h2 class="flex-head">{{ block.settings.flex-head }}</h2>
        <div class="divider">|</div>
        <p class="flex-text">{{ block.settings.flex-text }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% schema %}
{
  "name":"Image with text",
  "settings":[],
  "blocks":[
    {
      "type":"image",
      "name":"Flex BLock",
      "settings":[
        {
          "type":"image_picker",
          "id":"flex_img",
          "label":"Select Flex image"
        },
        {
          "type":"text",
          "id":"flex-head",
          "label":"Enter Flex Heading"
        },
        {
          "type":"text",
          "id":"flex-text",
          "label":"Enter Flex Body"
        },
        {
          "type":"select",
          "id":"layout_flex",
          "options":[
            {
              "value":"img_first",
              "label":"Image FIrst"
            },
            {
              "value":"text_first",
              "label":"Text First"
            }
          ],
          "default":"img_first",
          "label":"Select Layout"
        }
      ]
    }
  ],
  "presets":[
    {
      "category":"homepage",
      "name":"Image with text"
    }
  ]
}
{% endschema %}