<style></style>
<div class="main-container">
  <div class="column_flex">
    <div class="main-flex">
      <div class="img_cont">
        <img src="" loading="lazy" alt="{{ block.id }}" style="width:100%; height:auto">
      </div>
      <div class="text_cont"></div>
    </div>
  </div>
</div>
{% schema %}
{
  "name":"Image with text",
  "settings":[],
  "blocks":[
    {
      "type":"image",
      "name":"Flex BLock",
      "settings":[
        {
          "type":"image_picker",
          "id":"flex_img",
          "label":"Select Flex image"
        },
        {
          "type":"text",
          "id":"flex-head",
          "label":"Enter Flex Heading"
        },
        {
          "type":"text",
          "id":"flex-text",
          "label":"Enter Flex Body"
        },
        {
          "type":"select",
          "id":"layout_flex",
          "options":[
            {
              "value":"img_first",
              "label":"Image FIrst"
            },
            {
              "value":"text_first",
              "label":"Text First"
            }
          ],
          "default":"img_first",
          "label":"Select Layout"
        }
      ]
    }
  ],
  "presets":[
    {
      "category":"homepage",
      "name":"Image with text"
    }
  ]
}
{% endschema %}