<style>
  .desktop.banner {
    display: block;
    max-width: 100%;
}
  .mobile.banner {
    display: none;
}
  @media(max-width:450px){
    .mobile.banner {
    display: block;
}
    .desktop.banner {
    display: none;
}
  }
</style>
<div class="container-pr banner">
  <div class="desktop banner">
    <img src="{{ section.settings.desktop_img | img_url:'master' }}">
  </div>
  <div class="mobile banner">
    <img src="{{ section.settings.mobile_img | img_url:'master' }}">
  </div>
</div>
{% schema %}
  {
    "name": "Product USP banner",
    "settings": [
      {
        "type":"image_picker",
        "id":"desktop_img",
        "label":"Select Desktop Adapt"
      },
      {
        "type":"image_picker",
        "id":"mobile_img",
        "label":"Select Mobile Adapt"
      }
    ],
    "presets":[
      {
        "name":"Product USP Banner",
        "category":"product"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}