<style>
  .icon-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow:wrap;
}
  .icon-box {
    width: 16.6%;
}
  h2.mutli-heading {
    text-align: center;}
  @media(max-width:450px){
    .icon-box {
    width: 33.33%;
}
    h2.mutli-heading {
    font-size: 23px;
}
  }
</style>
<div class="multi-container">
  <h2 class="mutli-heading">{{ section.settings.icon_heading }}</h2>
  <div class="icon-flex">
    {%  for block in section.blocks %}
      <div class="icon-box" id="icon-{{ block.id }}">
        <img src="{{ block.settings.icon_img | img_url:"master" }}" alt="{{ block.id }}">
      </div>
      {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Icons Multicolumn",
    "settings": [
      {
        "type":"text",
        "id":"icon_heading",
        "label":"Enter heading",
        "default":" Our Clean Promise "
      }
    ],
    "blocks":[
      {
        "name":"Icon Block",
        "type":"image",
        "settings":[
          {
            "type":"image_picker",
            "id":"icon_img",
            "label":"Select icons"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Icon Multicolumn",
        "category":"Product"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}