<style>
  .rc_heading h2 {
    padding: 20px 0;
}
</style>
<div class="Container">
  <div class="rc_heading">
    <h2 style="color:{{ section.settings.rc_heading_color }}">{{ section.settings.rt_heading }}</h2>
  </div>
  {% if section.settings.rc_body != blank %}
    <div class="rc_body">
      <p>{{ section.settings.rc_body }}</p>
    </div>
    {% endif %}
</div>
{% schema %}
  {
    "name": "Rich Text",
    "settings": [
      {
        "type":"text",
        "id":"rt_heading",
        "label":"Enter Section Heading"
      },
      {
        "type":"html",
        "id":"rc_body",
        "label":"Enter Section Body text"
      },
      {
        "type":"color",
        "id":"rc_heading_color",
        "label":"Select Heading Color"
      }
    ],
    "presets":[
      {
        "name":"Rich Text",
        "category":"Testimonials"
      }
    ]
  }
{% endschema %}