.button_primary {
    display: block;
    text-align: center;
    max-width: 100%;
    width:250px;
    margin:0 auto;
    padding: 10px 0;
    color: #3d3d3d;
    background-color: transparent;
    border-radius: 0;
    font-family:Inter, sans-serif;
    font-size: 11px;
    border: 1px solid #3d3d3d;
    box-shadow: none;
    border-color: #3d3d3d!important;
    letter-spacing: .15em;
    font-weight: 600
}
.Container {
    max-width: 100%;
    padding: 0px 50px;
}
.t4s-drawer.t4s-drawer__left {
    background-color: #fffceb;
    color: #000;
}
.t4s-mb__menu>li>a{color:#000!important}
@media(max-width:450px){
    .Container{padding:0 20px}
    /* .t4s-product-form__buttons{display: none!important;} */
  button.t4s-product-form__submit.t4s-btn.t4s-btn-base.t4s-btn-style-default.t4s-btn-color-primary.t4s-w-100.t4s-justify-content-center.t4s-btn-effect-sweep-to-top.t4s-btn-loading__svg {
    display: none;
}
  .t4s-content-position.t4s-auto.t4s-pa.t4s-bg-content-true.t4s-br-content-false.t4s-br-style-solid.t4s-text-md-center.t4s-text-center {
    max-width: 100%;
    width: 330px;
}
  .t4s-product-form__buttons .t4s-pr__notify-stock, .t4s-product-form__buttons .shopify-payment-button__button--unbranded{text-align:center}
}
.t4s-col-item a.t4s-push-menu-btn{position:relative}
.t4s-header__logo.t4s-lh-1{position:relative}
.t4s-header__logo.t4s-lh-1::after {
    position: absolute;
    content: "";
    background: #000;
    height: 62px;
    width: 1px;
    top: -17px;
    right: 0%;
}
.t4s-header__logo.t4s-lh-1::before {
    position: absolute;
    content: "";
    background: #000;
    height: 62px;
    width: 1px;
    top: -17px;
    left: 0%;
}
div#faqtab {
    display: none;
}
p#b_template--16015805907128__1e4bf37d-5bc9-4c50-b21f-39cc2c0cf0a1-custom_text-2 {
    font-family: 'LL circular', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
}
.t4s-header__wrapper .t4s-container {
    border-bottom: 1px solid #d4d4d4;
}