.button_primary {
    color: #3d3d3d;
    background-color: transparent;
    border-radius: 0;
  font-family:Inter, sans-serif;
    font-size: 11px;
    align-self: center;
    border: 1px solid #3d3d3d;
    box-shadow: none;
    border-color: #3d3d3d!important;
    letter-spacing: .15em;
    font-weight: 600
}